<%- include('./layout-start') %>
<div class="main">
<p>
    <b>ID:</b>         <%= user._id %><br />
    <b>Username:</b>   <%= user.username %><br />
</p>
<a href="/logout">Выйти</a>
</div>
<%- include('./layout-end') %>