<%- include('./layout-start') %>
<div class="main">
<form action="/api/user/login" method="post">
    <div>
        <label>Логин</label><br>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Пароль</label><br>
        <input type="password" name="password" />
    </div>
    <div>
        <input class="btn btn-dark" type="submit" value="Войти" />
    </div>
    <div><a href="/api/user/signup"> Зарегистрироваться </a></div>
</form>
</div>
<%- include('./layout-end') %>
